<%= bootstrap_form_with(model: secret, local: true) do |form| %>
  <% if secret.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(secret.errors.count, "error") %> prohibited this secret from being saved:</h2>

      <ul>
      <% secret.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= form.text_area :body, max: 20000, size: "82x20" %>
    <%= form.text_field :password, options = {min: 14, max: 255} %>
    <%= form.number_field :expiration, options = {placeholder: "in hours...", min: 1, max: 72} %>

  <div class="actions">
    <%= form.submit %>
    <%= link_to 'Back', secrets_path, class: "btn btn-primary" %>
  </div>
<% end %>
