<%= bootstrap_form_with(model: secret, local: true) do |form| %>
  <% if secret.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(secret.errors.count, "error") %> prohibited this secret from being saved:</h2>

      <ul>
      <% secret.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.text_field :unlock_password %>

  <div class="actions">
    <%= form.submit "Unlock Secret" %>
    <%= link_to 'Back', secrets_path, class: "btn btn-primary" %>
  </div>
<% end %>
