<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @secret.title %>
</p>

<p>
  <strong>body:</strong>
  <%= @secret.body %>
</p>

<p>
  <strong>Password:</strong>
  <%= @secret.password %>
</p>

<p>
  <strong>Expiration:</strong>
  <%= @secret.expiration %>
</p>

<%= link_to 'Edit', edit_secret_path(@secret) %> |
<%= link_to 'Back', secrets_path %>
