<p id="notice"><%= notice %></p>

<p>
  <strong>Secret URL:</strong>
  <%= link_to 'Copy Me', @secret %>
</p>
<p>
  <strong>Title:</strong>
  <%= @secret.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @secret.body %>
</p>

<p>
  <strong>Expiration:</strong>
  <%= distance_of_time_in_words(@secret.expiration, Time.now) %> from now
</p>

<%= link_to 'Edit', edit_secret_path(@secret) %> |
<%= link_to 'Back', secrets_path %>
