<div class="card">
  <h5 class="card-header"><strong>Secret URL:</strong> <%= url_for({ action: "show", id: @secret, controller: "secrets", only_path: false }) %></h5>
  <div class="card-body">
    <p class="card-text"><pre><%=h @secret.body %></pre></p>
  </div>
  <div class="card-footer text-muted"><small class="text-muted">Created <%= distance_of_time_in_words(Time.now, @secret.created_at) %> ago; Expires in <%= distance_of_time_in_words(@secret.expiration, Time.now) %></small></div>
</div>

<br/>

<div class="actions">
  <%= link_to 'Back', secrets_path, class: "btn btn-primary" %>
</div>
